@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* fonts */
    --font--primary: "Avenir Next";
    --font--secondary: "Montserrat";
    /* Color styles */
    --color--primary: #0354a6;
    --color--secondary: #f0f5ff;
  }
}
